.outlined-button {
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.outlined-button:hover {
  background-color: black;
  color: #3c82ff;
}
