@font-face {
  font-family: 'Porcelain';
  src: url('../../public/fonts/Porcelain.otf') format('opentype');
  /* Additional font properties */
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}


.login-button {
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: solid 2px white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }  
  
  .login-button:hover {
    background-color: #3c82ff;
    border: none;
  }
.logo {
  font-family: 'Porcelain';
  font-size: 35px; /* Default font size */
  color: white;
 

 }
 .icon {
  
  position: absolute; /* Set position to absolute for positioning */
  top: 10px; /* Adjust the top position as needed */
  left: 20px; /* Adjust the left position as needed */
}
.navbar {
  background: black;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  max-width: 1500px;
}

.nav-menu {
  display: flex;
  justify-content: space-between; /* Adjust the alignment as needed */
  align-items: center;
  list-style: none;
  text-align: center;
  width: 60vw;
}


.nav-item {
  height: 30px;
}

.nav-links {
  color: #fff;
  display: flex;
  font-family:Arial, Helvetica, sans-serif;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 2rem ;
  height: 100%;
}

.nav-links:hover {
  color:#3c82ff;
    transition: all 0.2s ease-out;
  }

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;

  }


  .nav-item{
    margin:5px;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    position: absolute;
    top: 50px;
    left: -100%;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    /* Set left to 50% to position from the left edge */
    left: 70vw;
    font-size: 25px;
  background-color: black;
   padding: 30px;
    /* Translate back by half of the menu width to center it */
    transform: translateX(-50%);
    /* Additional styles for smaller screens */
    width: 80%; /* Adjust width as needed for smaller screens */
    max-width: 200px; /* Limit the maximum width */
    /* Other styles specific to smaller screens */
  }
 
  
  .nav-links:hover {
   
    color: #3c82ff;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  


  
}