.search-button {
    background-color: transparent;
     color: white;
     padding: 10px 15px;
     border: solid 2px white;
     border-radius: 5px;
     cursor: pointer;
     font-size: 16px;
     margin:2vw;
   }
   
   .search-button:hover {
     background-color: #3c82ff;
     border: none;
   }

