
.swiper_container {
  width: 100%; /* Set the width of the container */
  display: flex;
  background-color: #0c1222;
  justify-content: center; /* Center the content horizontally */
  align-items: center;
    height: auto;
    padding: 2rem 1rem;
    position: relative;
  }
  /* SwiperClass.css */

  .heading {  /*this need to be fixed make it reusable */
    font-size: 4vw;
    color:rgb(175,175,179);
    background-color: #0c1222;
    text-align: center;
  padding-top: 50px;
    /* Align the text center */
    /* Add any other styles you want for the heading */
  }

  .swiper-slide {
 

    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    width: 35rem;
    height: 35rem;
    position: relative;
  }
  
  @media (max-width: 500px) {
    .swiper_container {
      height: 47rem;
    }
    .swiper-slide {
      width: 28rem !important;
      height: 36rem !important;
    }
    .swiper-slide img {
      width: 20rem !important;
      height: 30rem !important;
      margin-left: 16px;
          
    }
  }
  
  .swiper-slide img {
    width: 20rem;
    height: 30rem;
    
    border-radius: 2rem;
    object-fit: cover;
  }
  
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }
  
  .slider-controler {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider-controler .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
  }
  
  @media (max-width: 990px) {
    .slider-controler .swiper-button-next {
      left: 70% !important;
      transform: translateX(-70%) !important;
    }
  }
  
  @media (max-width: 450px) {
    .slider-controler .swiper-button-next {
      left: 80% !important;
      transform: translateX(-80%) !important;
    }
  }
  
  @media (max-width: 990px) {
    .slider-controler .swiper-button-prev {
      left: 30% !important;
      transform: translateX(-30%) !important;
    }
  }
  
  @media (max-width: 450px) {
    .slider-controler .swiper-button-prev {
      left: 20% !important;
      transform: translateX(-20%) !important;
    }
  }
  @media (max-width: 500px) and (orientation: portrait) {
    .swiper_container {
      height: auto; /* Allow the container to adjust its height based on content */
    }
  
    .swiper-slide {
      width: 100% !important; /* Use full width for small screens */
      height: auto !important; /* Allow the height to adjust based on content */
    }
  
    .swiper-slide img {
      width: 100% !important; /* Use full width for small screens */
      height: auto !important; /* Allow the height to adjust based on content */
      margin-left: 0; /* Remove margin */
    }
  }
  
  
  .slider-controler .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .slider-controler .slider-arrow ion-icon {
    font-size: 2rem;
    color: #222224;
  }
  
  .slider-controler .slider-arrow::after {
    content: '';
  }
  
  .swiper-pagination {
    position: relative;
    width: 15rem !important;
    bottom: 1rem;
  }
  
  .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
  }

  
.slider-arrow {
  width: 40px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  background-color: #3c82ff; /* Arrow background color */
  color: white; /* Arrow color */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; /* Arrow font size */
  border-radius: 50%; /* Rounded shape */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth color transition on hover */

  /* Add hover effect */
  &:hover {
    background-color: #2652ab; /* Adjust hover color as needed */
  }
}