/* Styles for typewriter text */
.typewriter-text {
    font-weight: bold;
    font-size: 5vw; /* Relative to the viewport width */
    color: #3c82ff;
   
    /* Add any other styles you want */
  }
  
  /* Styles for typebox */
