.scanner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  .QrReader {
    width: 100%;
    height: 100%;
  }
 
   .scanner-wrapper {
   
    position: relative;
    width: 400px; /* Adjust the width as needed */
    height: 550px; /* Adjust the height as needed */
    /* border: 2px solid black; Border color and width */
    /* border-radius: 10%; Make the border oval-shaped */
    overflow: hidden; 
  } 

.inst{
    font-size: 20px;
    margin:20px;
    color: #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


  .qrreader{
 
    border: 2px solid black; 
    border-radius: 5%;
    width:400px;
    height:400px;
  }
 
  


 
  
 
  
  /* You can add additional styling as needed */
  